

html{font-size: 16px;}

body{
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
a,a:hover{
    text-decoration: none;
}
input:focus, input:focus-within, textarea:focus, textarea:focus-within{
  box-shadow: none;
  outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Koulen", sans-serif;
}
.primary-btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: 1px solid #FF6600;
    padding: .75rem 1.5rem;
    min-width: 140px;
    text-align: center;
    transition: .3s ease;
}
.primary-btn:not(.nohover):hover,.primary-btn.hovered{
    background-color: #FF6600;
    color: #fff;
}
.colored-btn{
    background-color: #FF6600;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}
.desc{font-size: 1rem; line-height: 1.5;}
.desc a{
  color: inherit;
  text-decoration: underline;
}
.desc.md{font-size: 1.125rem;}
.desc.md2{font-size: 1.25rem;}
.desc.lg{font-size: 1.5rem;}
.sec-title{font-size: 4rem;line-height: 1.1;}
.sec-title.lg{font-size: 3.5rem;}
.sec-title.md2{font-size: 3rem;}
.sec-title.md{font-size: 2.5rem;}
.sec-title.sm{font-size: 2rem;}
.br5{border-radius: 5px;}
.br10{border-radius: 10px;}
.br20{border-radius: 20px;}
.text-second{color: #969696;}
.text-third{color: #aaaaaa;}
.primary-border{border-color: #FF6600 !important;}
.primary-border50{border-color: #FF660050 !important;}
.formbtn{
    font-size: 1.125rem;
    font-weight: 500;
    border: 2px solid #FF6600;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    min-width: 110px;
}
.bg-darkgray{background-color: #1e1e1e;}
/* .formbtn.lg{
    width: 140px;
} */
/*Header CSS*/
.header-main .nav-item .nav-link{
    color: #fff;
    font-size: 1.125rem;
    padding: .5rem 1rem;
}
/*Header CSS*/
.banner-slider .slick-dots{
    bottom: 2rem;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: flex-end;
}
.banner-slider .slick-dots button{
    display: none;
}
.banner-slider .slick-dots li{
    width: 50px;
    height: 5px;
    border-radius: 20px;
    background-color: #969696;
    transition: .3s ease;
}
.banner-slider .slick-dots li.slick-active{
    background-color: #FF6600;
}
.apply-form{
    background-color: #000;
    background-image: url(../images/formbg.jpg);
    background-size: cover;
    background-position: center;
}
.form_loader{
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    background-color: rgba(0,0,0,.6);
}
.form_loader.active{
    opacity: 1;
    visibility: visible;
}
.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: #FF6600;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ptimeline-single::before{
  content: '';
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 3px solid #1e1e1e;
  box-shadow: 0 0 0 2px #fff;
  background-image: linear-gradient(0deg, #EE400D, #FF6600);
  position: absolute;
  top: .5rem;
  left: .5rem;
}
.ptimeline-single:not(:last-child)::after{
  content: '';
  width: .25rem;
  height: calc(100% - 1.375rem);
  background-color: #fff;
  position: absolute;
  top: 1.75rem;
  left: 15px;
}
.charthumb{
  border-radius: 50%;
  padding: 6px;
  border: 3px solid #FF6600;
}
.profileimg {
  padding: 1rem;
}
.profileimg::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #FF6600;
  transform-origin: center;
  transform: rotate(-7deg);
}
.about-banner{
  background-image: url(../images/about-banner.jpg);
  background-size: cover;
  background-position: 100% 0%;
  background-attachment: fixed;
}
/* .banner-slider .bimgwrap > picture{
  height: 100%;
} */
.banner-slider .bimgwrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.custom-input{
  padding: .5rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: #969696;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #969696;
}
textarea.custom-input{
  height: 140px;
}
.custom-submit{
  background-color: rgba(255,102,0,.12);
  border: 1px solid #FF6600;
  padding: 1rem;
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
}

@media(min-width:992px) and (max-width:1199px){
    .banner-slider .bimgwrap{
        height: 60vw;
    }
    .banner-slider .bimgwrap > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media(min-width:768px) and (max-width:991px){
    .banner-slider .bimgwrap{
        height: 60vw;
    }
    .banner-slider .bimgwrap > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media (max-width:767px){
    .banner-slider .bimgwrap{
        height: 100vw;
    }
    .banner-slider .bimgwrap > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width:575px){
    .banner-slider .bimgwrap{
        height: calc(100vh - 100px);
    }
    .apply-form{
        background-image: url(../images/formbg_mobile.jpg);
        background-size: 100%;
        background-position: top;
        background-repeat: repeat-y;
    }
    .sec-title{font-size: 3rem;}
    .desc.md{font-size: 1rem;}
    .about-banner{
      background-image: url(../images/about-banner-mobile.jpg);
    }
}